
<ion-content padding>

  <form class="form-control" [formGroup]="validationCode">

    <img src="assets/imgs/logo.png">

    <h3 class="green">{{ 'NewPassword' | translate }}</h3>

    <div class="inner-input">
        <input type="tel" formControlName="code" placeholder="{{ 'ValidationCode' | translate }}">
        <ion-label class="label-error"
            *ngIf="!validationCode.controls.code.valid && (validationCode.controls.code.dirty || validationCode.controls.code.touched)">
            {{ 'Entercode' | translate }}
        </ion-label>
    </div>

    <div class="inner-input">
      <input formControlName="password" name="password" type="password" placeholder="{{ 'NewPassword' | translate }}" >
        <ion-label class="label-error"
          *ngIf="!validationCode.controls.password.valid &&( validationCode.controls.password.dirty || validationCode.controls.password.touched)" stacked>
          {{ 'Enterpassword' | translate }}
      </ion-label> 
    </div>

    <div class="inner-input">
      <input formControlName="confirmPassword" type="password" placeholder="{{ 'ConfirmNewPassword' | translate }}" >
        <ion-label class="label-error"
      *ngIf="validationCode.controls.confirmPassword.touched && validationCode.hasError('mismatchedPasswords') && validationCode.controls.password.valid" stacked>
          {{ 'Enteroldpass' | translate }}
      </ion-label> 
    </div>

    <button [disabled]="!validationCode.valid" class="btn-button bg-green" (click)="goHome()">{{ 'confirm' | translate }}</button>
    
  </form>

</ion-content>
  
  