page-change-password {
    .changepassword{
        margin: 20px 0
    }
    .bg-green{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        width: 50%;
        margin: auto
    }
    .label-error{
        position: relative;
        color: #82b71c;
        text-align: center
    }
}
