
<ion-content padding>
    
      <form class="form-control" [formGroup]="forgetpassword">
    
        <img src="assets/imgs/logo.png">
        
        <h3 class="green">{{ 'forgetPassword' | translate }}</h3>
    
        <div class="inner-input">
          <input type="tel" formControlName="phone" name="phone" placeholder="{{ 'phone' | translate }}">
          <ion-label class="label-error"
          *ngIf="!forgetpassword.controls.phone.valid && (forgetpassword.controls.phone.dirty || forgetpassword.controls.phone.touched)">
              {{ 'Enterphone' | translate }}
          </ion-label> 
          <ion-list class="list-code" [(ngClass)]="iconLtr">
            <ion-item>
              <!--<ion-label class="label-list">{{ 'code' | translate }}</ion-label>-->
              <ion-select  [(ngModel)]="countryCode" formControlName="country_code" okText="{{ 'okay' | translate }}" cancelText="{{ 'dismiss' | translate }}">
                <ion-option *ngFor="let code of codes" value="{{ code?.code }}">{{ code?.code }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
    
        <button class="btn-button bg-green" [disabled]="!forgetpassword.valid" (click)="goNewpassword()">{{ 'login' | translate }}</button>
    
      </form>
    
</ion-content>
      
